.info-popup{
    position: fixed;
    top: 0;
    left: 4vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    overflow-y: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 6vw 0vw;

    .closeBtn{
        background-image: url("../assets/images/event-gifting/cross-btn.png");

        width: 12vw;
        height: 12vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: relative;
        left: 36vw;
    
    }

    .info-content{
        width: 95%;
        min-height: 191vw;    
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        background-image: url('../assets/images/popup/info.png');
        position: relative;
    

        .title{

            width: 84%;
            position: absolute;
            left: 5vw;
            top: -16vw;
        
        }
  
    }
}